.navigation-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.navigation-button {
    border: none;

    margin: 0;
    padding: 6px 22px;

    background-color: #f5f4fa;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    cursor: pointer;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
}

.navigation-list .navigation-button:hover,
.navigation-list .navigation-button:focus {
    background-color: var(--accent-color);
    color: var(--text-white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigation-list .navigation-item+.navigation-item {
    margin-left: 8px;
}

/* стилі до filter */
.filter-list {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
}

.filter-item {
    width: 370px;
    margin: 15px;
}

.filter-link {
    /* position: relative; */
    display: block;
    color: var(--primary-text-color);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
}

.filter-link:hover,
.filter-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-link:hover .filter-overlay {
    transform: translateY(0);
}

.filter-images {
    position: relative;
    width: 100%;

    overflow: hidden;
}

.filter-overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-images-text {
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

    color: var(--text-white-color);
}

.filter-container {
    padding: 20px 24px;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eeeeee;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #eeeeee;
}

.filter-title {
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.filter-text {
    font-size: 16px;
    line-height: 1.87;
}